<!DOCTYPE html>
<html>

<head>
    <title>Sashank's Tang APP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }

        .subdiv {
            margin-left: -400px;
            margin-top: 330px;
        }

        .division {
            margin-left: 900px;
            margin-top: -60px;
        }
    </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container">

            <h4><b>TANG</b></h4>
        </div>
        <div class="w3-bar-block">
            <a href="{{url_for('index')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                    class="fa fa-th-large fa-fw w3-margin-right"></i>Home</a>
            <a href="{{url_for('viewTasks')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-user fa-fw w3-margin-right"></i>Project Board</a>
            <a href="{{url_for('createTask')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-envelope fa-fw w3-margin-right"></i>Add Task</a>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->


    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Header -->
        <header id="portfolio">
            <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
                    class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <h1><b>Project Board</b></h1>
            </div>
            <div class="division">
                <h4>Welcome {{user.name}}</h4>
            </div>
        </header>
        <br>
        <br>
        <br>
        <main>
            <div class="w3-container w3-padding-large" style="margin-bottom:32px">
                <!-- Pricing Tables -->
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-third w3-margin-bottom">
                        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                            <li class="w3-black w3-xlarge w3-padding-32">BACKLOG</li>
                            {% for key, value in tasks.items() %}
                              {% if value.status == 'backlog' %}
                                 <li class="w3-padding-16"><a href="{{url_for('viewTask', task_id=key)}}">{{value.title}}</a>
 </li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                            <li class="w3-teal w3-xlarge w3-padding-32">DOING</li>
                            {% for key, value in tasks.items() %}
                               {% if value.status == 'doing' %}
                                <li class="w3-padding-16"><a href="{{url_for('viewTask', task_id=key)}}">{{value.title}}</a>
                                </li>
                               {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="w3-third">
                        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                            <li class="w3-black w3-xlarge w3-padding-32">DONE</li>
                            {% for key, value in tasks.items() %}
                              {% if value.status == 'done' %}
                                 <li class="w3-padding-16"><a href="{{url_for('viewTask', task_id=key)}}">{{value.title}}</a>
                                 </li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <br><br><br><br><br><br>


        <!-- Footer -->
        <footer id="footer" class="w3-black w3-center w3-padding-24 subdiv">
            <h3> Powered by TANG</h3>
        </footer>



        <!-- End page content -->
    </div>



</body>

</html>